# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# --- Django ---
db.sqlite3
db.sqlite3-journal
static/
media/
staticfiles/

# --- PyCharm / JetBrains ---
.idea/
*.iws
*.iml
*.ipr
cmake-build-*/

# --- Systemowe (Linux Mint / Generic) ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~
*.swp