{% extends "base.html" %}

{% block content %}
  <div class="d-flex align-items-center justify-content-between">
  <h1 class="text-bold mb-4 font-weight-bold">TODO list</h1>
  <form method="post" action="{% url 'todo:task_create' %}">
    {% csrf_token %}
    <button class="btn btn-info">Add task</button>
  </form>
  </div>
  <ul class="list-group">
    {% for task in tasks %}
      <li class="list-group-item pl-0 border-left-0 border-right-0 border-top-0">
        <div>
          <div class="mb-3">
          <span class="font-weight-bold">{{ task.content }}</span>
          {% if task.is_completed %}
            <span class="text-success font-weight-bold">Done</span>
          {% else %}
            <span class="text-danger font-weight-bold">Not done</span>
          {% endif %}
          </div>
          <div class="mb-3">
            <span>Created: {{ task.datetime }}</span>
            {% if not task.is_completed %}
              <span class="text-dark-red font-weight-bold">Deadline: {{ task.deadline }}</span>
            {% endif %}
          </div>
        </div>
        <div>
          <span class="text-secondary">Tags:</span>
          {% for tag in task.tags.all %}
            <span class="text-secondary">{{ tag }}</span>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}